.container {
    background: white;
    border-radius: 25px;
    width: 500px;
    height: 350px;
    text-align: left;
    border: 25px;
    border-top: 20px;
}

.divInput {
    color: navy;
    width: 500px;
    margin-top: 25px;
}

.elementInput {
    color: navy;
    width: 500px;
    margin-top: 25px;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.img {
    color: navy;
    width: 50px;
    margin-top: 15px;
    margin-right: 10px;
}